<!DOCTYPE html>
<html>
    <head>
        <title>Shopalyst</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="../styles/index.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../scripts/product.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Shop on Shopalyst</a>
                </div>
            </div>
        </nav>

        <div class="container container_cls">
            <div class="row">
                <h4 class="product_title" id="title" ></h4>
                <div class="row prces">
                    <span class="col-6 strike_through" id="sale_price" ></span>
                    <span class="col-6 offer_price_cls" id="offer_price" ></span>
                </div>
                <img id="product_image" src="" alt="no image">
                <div class="description_cls" id="description"></div>
            </div>
        </div>
    </body>
</html>